@model Emlakci2.Models.EMLAKCI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EMLAKCI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ADSOYAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADSOYAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIFRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIFRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YETKI_CREATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YETKI_CREATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YETKI_EDIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YETKI_EDIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YETKI_DELETE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YETKI_DELETE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EMLAKCIID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
